:root {
    --mobile-breakpoint: 375px;
    --desktop-breakpoint: 1440px;
    --primary-color-orange: hsl(31, 77%, 52%);
    --primary-color-cyan: hsl(184, 100%, 22%);
    --primary-color-dark-cyan: hsl(179, 100%, 13%);
    --body-text-color: hsla(0, 0%, 100%, 0.75);
    --accent-text-color: hsl(0, 0%, 95%);
    --body-font-size: 15px;
}

body {
    font-family: 'Lexend Deca';
    font-size: var(--body-font-size);
    color: var(--body-text-color);
    line-height: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 88px 24px;
}

.card {
    padding: 48px;
}

.card:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card_title {
    font-family: 'Big Shoulders Display';
    color: var(--accent-text-color);
    font-size: 40px;
    text-transform: uppercase;
}

.card_text {
    padding: 15px 0;
}

.card_button {
    background-color: var(--accent-text-color);
    padding: 12px 32px;
    border-radius: 32px;
    text-decoration: none;
}

.card.orange .card_button {
    color: var(--primary-color-orange);
}

.card.orange {
    background-color: var(--primary-color-orange);
}

.card.cyan {
    background-color: var(--primary-color-cyan);
}

.card.cyan .card_button {
    color: var(--primary-color-cyan);
}

.card.dark_cyan {
    background-color: var(--primary-color-dark-cyan);
}

.card.dark_cyan .card_button {
    color: var(--primary-color-dark-cyan);
}

.attribution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ;
}