:root {
    --border-radius: 8px;
    --color-body-text: hsla(0, 0%, 100%, 0.75);
    --color-primary-cyan: hsl(184, 100%, 22%);
    --color-primary-dark-cyan: hsl(179, 100%, 13%);
    --color-primary-orange: hsl(31, 77%, 52%);
    --color-text-accent: hsl(0, 0%, 95%);
    --font-size-body: 15px;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--color-body-text);
    font-family: 'Lexend Deca';
    font-size: var(--font-size-body);
    line-height: 25px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 850px) {
    .container {
        flex-direction: row;
        justify-content: center;
        margin-top: 170px;
    }
}

.card {
    max-width: 307px;
    padding: 48px;
}

.card:first-of-type {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

@media screen and (min-width: 850px) {
    .card:first-of-type {
        border-bottom-left-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: 0px;
    }
}

.card:last-of-type {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

@media screen and (min-width: 850px) {
    .card:last-of-type {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }
}

.card_title {
    color: var(--color-text-accent);
    font-family: 'Big Shoulders Display';
    font-size: 40px;
    padding-top: 10px;
    text-transform: uppercase;
}

.card_text {
    padding: 15px 0;
}

@media screen and (min-width: 850px) {
    .card_text {
        padding-bottom: 80px;
    }
}

.card_button {
    background-color: var(--color-text-accent);
    border-radius: 32px;
    border: 1px solid var(--color-text-accent);
    cursor: pointer;
    padding: 12px 32px;
    text-decoration: none;
}

.card.orange .card_button {
    color: var(--color-primary-orange);
}

.card.orange .card_button:hover {
    background-color: var(--color-primary-orange);
    color: var(--color-text-accent);
}

.card.cyan .card_button {
    color: var(--color-primary-cyan);
}

.card.cyan .card_button:hover {
    background-color: var(--color-primary-cyan);
    color: var(--color-text-accent);
}

.card.dark_cyan .card_button {
    color: var(--color-primary-dark-cyan);
}

.card.dark_cyan .card_button:hover {
    background-color: var(--color-primary-dark-cyan);
    color: var(--color-text-accent);
}

.card.orange {
    background-color: var(--color-primary-orange);
}

.card.cyan {
    background-color: var(--color-primary-cyan);
}

.card.dark_cyan {
    background-color: var(--color-primary-dark-cyan);
}

.attribution {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}